.card {
  transition: all 0.3s ease-in;
  display: inline-block;
  margin: 20px;
  border-radius: 15px;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  box-shadow: 20px 20px 36px #d1d1d1, -20px -20px 36px #ffffff;
}

.cardtext {
  transition: all 0.3s ease-in;
  transform: translateY(-100px);
  z-index: -10;
  position: relative;
}

.card:hover .cardtext {
  transform: translateY(0);
}
