.card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s ease-in;
  display: inline-block;
  margin: 20px;
  border-radius: 15px;
  cursor: pointer;
  background-color: transparent;
  position: relative;
}

.cardtext {
  transition: all 0.3s ease-in;
  transform: translateY(-100px);
  z-index: -10;
  position: relative;
}

.card:hover .cardtext {
  transform: translateY(0);
}
