.contentfield {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  font-size: larger;
  background-color: var(--text-color);
  overflow-x: hidden;
  overflow-y: hidden;
}

.profilepicture {
  object-fit: none;
  object-position: 55% 20%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.title{
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 75px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center; 
}